{% extends "base.html" %}

{% block content %}

<body>
    <div id="about-main-container">
        <div id="about-img">
            <h1>About</h1>
            <a href="www.clickhere.com" img src="">IMAGE HERE</a>
        </div>
        <div id="about-bio">
            <h3>Bio</h3>
            <p>Here is my bio, this is all about me section. I am going to write some awesome professional stuff.</p>
        </div>
        <div id="about-experience">
            <h3>Experience</h3>
            <p>Resume stuff goes here. This is where you can build up a bunch more credibility</p>
        </div>
    </div>
</body>


{% endblock %}