{% extends "base.html" %}

{% block content %}

<body>
    <div id="about-main-container">
        <div id="about-img">
            <h1>About</h1>
            <img src="static/images/99325527-D4B2-446B-A84C-73BA87C2CD9A.JPG">
        </div>
        <div id="about-bio">
            <h3>Bio</h3>
            <p>Hi! My name is Jess. I have been baking for about 7 years.<br>
            I absolutely love perfecting and tweaking recipes. I have catered weddings and <br>
            birthday parties. I would love to do your event! Please feel free to get in contact<br>
            with me!
            </p>
        </div>
        <!-- <div id="about-experience">
            <h3>Experience</h3>
            <p>* </p>
        </div> -->
    </div>
</body>


{% endblock %}