{% extends "base.html" %}

{% block content %}

<body>
    <h1>Cupcakes</h1>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-1" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">Chocolate lovers dream, these are some of my favorite cupcakes to make!</p>
    </div>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-2" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">Vanilla on vanilla is always classy. Super moist and delicious.</p>
    </div>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-3" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">Sprinkles are a nice addition, I can customize these however you would like!</p>
    </div>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-4" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">Different colors are available too! </p>
    </div>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-5" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">We can make everything mini as well. </p>
    </div>
    <div id="page-main-container">
        <div id="page-img-container-cupcakes-6" href="?item=INSERT_ITEM_ID"></div>
        <p id="page-description">Mini chocolate are my favorite. </p>
    </div>
</body>

{% endblock %}