{% extends "base.html" %}

{% block content %}

<body>
    <div id="content" class="site-content">
        <article id="post-1" class="thumb-post-1">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-2" class="thumb-post-2">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-3" class="thumb-post-3">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-4" class="thumb-post-4">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-5" class="thumb-post-5">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-6" class="thumb-post-6">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>

{% endblock %}
