<!DOCTYPE html>
<html>
<head>
    <title>Jolly Jess</title>
    <link type="text/css" rel="stylesheet" href="/Users/peterkurjanowicz/Desktop/Interesting Projects/jess_bakeshop_website/static/stylesheet.css">
</head>
<header id="masthead">
    <div class="cl-site-header">
        <h1 class="site-title"><a href="/" rel="home"><img src="/" alt="I Am Baker" width="389px" content="nopin"></a></h1>
    </div>
    <div class="cr-small-caps">
        <ul id="menu-secondary-menu" class="about-menu">
            <li><a href="/about">About</a></li>
            <li id="instagram" class="social-menu"><a target="_blank" rel="noopener noreferrer" href="INSTAGRAMLINK"><span>Instagram</span></a></li>
        </ul>
    </div>
</header>
<nav id="site-navigation" class="main-navigation" style="top: 0px;">
    <ul id="primary-menu" class="primary-menu">
        <li id="cakes" class="primary-menu-item"><a href="/cakes/">Cakes</a></li>
        <li id="cookies" class="primary-menu-item"><a href="/cookies/">Cookies</a></li>
        <li id="cupcakes" class="primary-menu-item"><a href="/cupcakes/">Cupcakes</a></li>
        <li id="brownies" class="primary-menu-item"><a href="/brownies/">Brownies</a></li>
    </ul>            
</nav>
<body>
    <div id="content" class="site-content">
        <article id="post-1" class="thumb-post-1">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-2" class="thumb-post-2">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-3" class="thumb-post-3">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-4" class="thumb-post-4">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-5" class="thumb-post-5">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-6" class="thumb-post-6">
            <div class="thumb-post">
                <a href="/INSERT_NAME_OF_ITEM">
                    <img src="IMAGE_FILE" class="side-images">
                </a>
                <div class="thumb-content">
                    <h3><a href="/INSERT_NAME_OF_ITEM">NAME_OF_ITEM</a></h3>
                    <div class="continue-reading-small-caps">
                        <a href="/INSERT_NAME_OF_ITEM">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="contact-form-parent-container">
        <div id="submit-contact-info" class="contact-form-container">
            <div>
                <h2>Submit your info</h2>
            </div>
            <form id="form">
                <input type="text" placeholder="Input Your Name" id="name" class="form-fields" autocomplete="off">
                <input type="email" placeholder="Input Your Email" id="email" class="form-fields" autocomplete="off">
                <input type="text" placeholder="Input Your Phone Number" id="phone" class="form-fields" autocomplete="off">
            </form>
        </div>
    </div>
</body>
<!-- <script type="text/javascript" src="static/app.js"></script> -->
</html>